<!--  Create a Parallax Effect -->
#home{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

<!-- First image (Logo. Full height)
 -->.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}
